body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 13vmin;
  margin: 25px;
  pointer-events: none;
}

.red-border {
  border: 3px solid red;
}

.green-border {
  border: 3px solid rgb(6, 240, 15);
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-div {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

button {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 10px;
}

button:hover {
  box-shadow: 2px 2px black;
  cursor: pointer;
}

input {
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
}

.login-box, .login-form label {
  display: flex;
  flex-direction: column;
}

.login-box {
  align-items: center;
}

.login-form {
  align-items: center;
  background-color: white;
  border: solid 2px darkgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 250px;
}

.login-form label {
  align-self: stretch;
  color: #282c34;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: start;
}

.login-form button, .next-btn, .feedback-btn, .back-btn, .sett-btn {
  background-color: rgb(76, 76, 204);
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  margin: 10px 0;
  min-width: 100px;
  width: fit-content;
}

.feedback-btn {
  margin: 10px;
}

.answer-box button {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  min-width: 100px;
  padding: 15px 10px;
}

.login-form button:disabled {
  background-color: grey;
}

.header-box {
  align-items: center;
  border-bottom: solid 2px grey;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 80vw;
}

.header-box img {
  border: solid 2px grey;
  border-radius: 100%;
}

.game-box {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.timer-box {
  background-color: rgba(128, 128, 128, 0.397);
  border: solid 2px grey;
  border-radius: 5px;
  margin: 15px;
  width: 15vw;
}

.question-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 80vw;
}

.question-box p {
  margin: 15px;
}

.answer-box {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.answer-numb {
  background-color: rgba(128, 128, 128, 0.507);
  border-radius: 100%;
  margin-right: 10px;
  padding: 0 8px;
  text-align: center;
}

.ranking-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 80vw;
}

.ranking-title {
  border-bottom: solid 2px grey;
  margin: 0;
  margin-bottom: 20px;
  width: 50%;
}

.ranking {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 60%;
}

.player-card {
  align-items: center;
  border: solid 2px grey;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 90%;
}

.player-card:nth-of-type( 1 ) {
  background-color: rgba(255, 217, 0, 0.7);
  border: gold 3px solid;
  color: #282c34;
  font-weight: 600;
  width: 100%;
}

.player-card:nth-of-type( 2 ) {
  background-color: rgba(192, 192, 192, 0.699);
  border: silver 3px solid;
  color: #282c34;
  font-weight: 600;
  width: 96%;
}

.player-card:nth-of-type( 3 ) {
  background-color: rgba(176, 141, 87, 0.699);
  border: rgb(176, 141, 87) 3px solid;
  color: #282c34;
  font-weight: 600;
  width: 93%;
}

.player-card img {
  border-radius: 100%;
  height: 50px;
}
